@use "../abstracts/mixin";
@use "../abstracts/variables";
@use "../base/reset";


* {
    box-sizing: border-box;
}

body {
    background-color: variables.$page-backgorund-color;
    color: variables.$h-color;
    padding: 0 variables.$h-font;
}

.card-title {
    @include mixin.flex-center(space-between);
}

.card-title {
    font-size: variables.$h-font;
    font-weight: 700;
}

