@use "../abstracts/variables";
@use "../abstracts/mixin";


.playMainCont {
    width: 100%;
    height: 135vh;
    background: linear-gradient(#2a3770, #060606);
}

.playList {
    padding: 4rem 2rem 0 2rem;
}

.play-search {
    @include mixin.flex-center(space-between, start);
}

.play-search > label {
    width: 30.6rem;
    height: 5rem;
}

.play-search > label > input {
    width: 30.6rem;
    height: 3.5rem;
    background-color: #3b4680;
    border: none;
    border-radius: 1rem;

    font-size: 1.4rem;
    font-weight: 500;
    color: variables.$p-color;
    padding-left: 1rem;
    padding-right: 5rem;
}

// აქრობს პატარა იქსს სერჩის ბოლოში
.play-search > label > input::-webkit-search-cancel-button {
    display: none;
}

.play-search > label > img {
    transform: translate(27rem, -2.6rem);
    width: 2rem;
}

.play-search > img {
    margin-left: 1rem;
}

.play-search > img {
    @include mixin.hover-active-green;
}



.imgCenter {
    @include mixin.flex-center(center);
    width: 100%;
    height: 21.1rem;
    margin: 2rem 0;
}
.imgCenter > img {
    width: 21.1rem;
    height: 21.1rem;
}

.play-main-center > p:first-child {
    font-size: 2rem;
    font-weight: 700;
    color: variables.$h-color;
}

.middle-cont {
    @include mixin.flex-center(start);
    font-size: 1.4rem;
    font-weight: 400;
    color: variables.$p-color;
    margin: 2rem 0;
}

.middle-cont > div {
    padding: 0.3rem;
    background-color: variables.$p-color;
    border-radius: 50%;
    margin: 0 1rem;
}


.Center-last {
    @include mixin.flex-center(space-between);
    margin-bottom: 3rem;
}
.Center-last > div:first-child > img {
    @include mixin.hover-active-green;
}
.Center-last > div:last-child > img:first-child {
    @include mixin.hover-active-green;
}
.Center-last > div:first-child,
.Center-last > div:last-child {
    @include mixin.flex-center(space-between);
}
.Center-last > div:first-child {
    margin-left: 0.8rem;
    width: 19rem;
}
.Center-last > div:last-child {
    width: 9rem;
}


.play-last-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.play-cont {
    @include mixin.flex-center(space-between);
}

.play-cont > div {
    @include mixin.flex-center(space-between);
    gap: 1rem;
}

.play-cont > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.play-cont > div > div > p:first-child {
    font-size: 1.6rem;
    font-weight: 500;
}
.play-cont > div > div > p:last-child {
    font-size: 1.4rem;
    font-weight: 400;
    color: variables.$p-color;
}

.play-cont-img {
    width: 5.1rem;
    height: 5.1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
.play-cont-img:hover {
    transform: scale(1.02);
    transition: 0.1s;
}
.play-cont-img:active {
    transform: scale(1.05);
    transition: 0.1s;
}
.tree-dots {
    width: 4rem;
    height: 4rem;
    @include mixin.hover-active-green;
}

.spotify {
    color: variables.$h-color;
}



.PlayDeskCont {
    display: none;
}
.playMainCont {
    display: block;
}

@media (min-width: 1200px) {
    .playMainCont {
        display: none;
    }
    .PlayDeskCont {
        display: block;
        padding: 2rem 3.5rem 0 3.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Play-color {
        width: 100%;
        height: 120%;
        background: linear-gradient(#2a3770, #060606);
        border-radius: 1rem;
    }


    
    .PlayDesk-head > p:first-child {
        font-size: 3.6rem;
        font-weight: 700;
        color: variables.$h-color;
    }

    .PlayDesk-middle {
        @include mixin.flex-center(start);
        font-size: 1.4rem;
        font-weight: 400;
        color: variables.$p-color;
        margin: 2rem 0;
    }

    .PlayDesk-middle > div {
        padding: 0.3rem;
        background-color: variables.$p-color;
        border-radius: 50%;
        margin: 0 1rem;
    }


    .PlayDesk-last {
        @include mixin.flex-center(space-between);
        width: 103.3rem;
        margin-bottom: 3rem;
        margin-left: 0.2rem;
    }
    
    .PlayDesk-last > div > img:nth-of-type(1n+2) {
        @include mixin.hover-active-green;
    }
    .PlayDesk-last > img {
        @include mixin.hover-active-green;
    }

    .PlayDesk-last > div:first-child,
    .PlayDesk-last > div:last-child {
        @include mixin.flex-center(space-between);
    }
    .PlayDesk-last > div:first-child {
        width: 36.7rem;
    }


    //  M  A  I  N

    .PlayDesk-main {
        width: 106rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: variables.$p-color;
    }

    .Play-lists-head {
        width: 77.2rem;
        @include mixin.flex-center(space-between);

        div {
            width: 6rem;
            margin-left: 2rem;
            @include mixin.flex-center(space-between);
        }
    }


    .PlayDesk-main > hr {
        width: 104rem;
        border: 2px solid #89898926;
        margin: 2rem 0;
    }


    .PlayDesk-main-inner {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .PlayDesk-cont {
        display: flex;
        align-items: center;
        gap: 1rem;
        .heart-icon {
            width: 2.35rem;
            height: 2.02rem;
            @include mixin.hover-active-green;
        }
    }

    .PlayDesk-cont > p:nth-of-type(1) {
        font-size: 1.6rem;
        font-weight: 500;
        padding: 2rem;
    }
    .PlayDesk-cont > div {
        @include mixin.flex-center(start);
        gap: 1rem;
        width: 31.5rem;
    }
    .PlayDesk-cont > div > div > p:first-child {
        font-size: 1.6rem;
        font-weight: 500;
        color: variables.$h-color;
    }
    .PlayDesk-cont > div > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .PlayDesk-cont > p:nth-of-type(2) {
        width: 33rem;
    }
    .PlayDesk-cont > p:nth-of-type(3) {
        width: 7rem;
    }
    
    // მთლიანი მარცცხენა კონტეინერი
    .left-content {
        margin-bottom: 5rem;
    }


    // მთლიანი მარჯვენა კონტეინერი
    .right-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 32rem;
    }
    .right-content > img {
        border-radius: 1rem;
        width: 32rem;
        height: 32rem;
    }

    .right-content-btn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: variables.$p-color;
    }
    .right-content-btn > div {
        padding: 1rem 2rem;
        border-radius: 44px;
        border: 2px solid #89898940;

        &:hover {
            background-color: aliceblue;
            color: #060606;
            transition: 0.2s;
            cursor: pointer;
            user-select: none;
            transform: scale(1.05);
        }
    }


    .PlayLastRightDiv {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 20.9rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: variables.$p-color;

        img {
            width: 10rem;
        }

        .Play-last-img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            overflow: hidden;
            @include mixin.flex-center;
        }
        .Playimg1 > img {
            width: 6rem;
        }
        .Playimg2 > img {
            width: 6rem;
        }
    }
    .PlayLastRightDiv > div {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}