@use "../abstracts/mixin";
@use "../abstracts/variables";
.side-bar{
    display: none;
}
main{
    display: flex;
    width: 100%;
}
.card-container{
    width: 100%;
}

.main-content{
    width: 100%;
    padding: 0 variables.$h-font;
    border: 0.1rem solid variables.$main-border;
    border-radius: 1rem;
}
@media (min-width:1200px){
    .main-content{
        width: 85%;
    }
  

    .side-bar{
        display: flex;
        width: 14.5%;
        background-color: variables.$page-backgorund-color;
        nav {
            margin-top: 1.1rem;
            margin-left: 1.1rem;
            width: 100%;
            ul{
                @include mixin.flex-center(center, start);
                flex-direction: column;
                gap: 1.1rem;
                li{
                    @include mixin.flex-center(space-between,center);
                    width: 100%;
                    // gap: 51%;
                    a{
                        @include mixin.flex-center(start,center);
                        // flex-direction:column;
                        p{
                            @include mixin.p-of-sidebar-header($font-size:1.4rem);
                        }
                        .arrow{
                            margin-right: 0;
                        }
                    }
                }
                li:hover{
                  
                    background-color: #111111;
                }
            }
        }
    }
}
