@use "../abstracts/variables";
@mixin flex-center ($J: center, $A: center) {
    display: flex;
    justify-content: $J;
    align-items: $A;
}
@mixin p-of-sidebar-header($font-size){
    font-size: $font-size;
    font-weight: 400;
    line-height: variables.$line-height;
    letter-spacing: 3%;
}