

// colors

$p-color: #898989;
$h-color: #E0E0E0;
$page-backgorund-color: #060606;
$button-hover-backgorund-color: #202020;
$player-bacgorund-color: #333842;
$main-border: #202020;
$background-color-transparent: transparent;

$dot-color-in-liked-song:#898989;

// font size

$h-font: 2rem;
$p-font: 1rem;
$p-font-size-in-menu:1.2rem;
$line-height: 100%;